.actions-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  // align-content: stretch;
  margin: 1rem;
  .action {
    min-width: 10rem;
    border: 1px solid white;
    padding: 1rem;
    margin: .5rem;
  }
}